@charset "UTF-8";
html, body {
  line-height: 1.6;
  width: 100%;
  color: #333;
  background-color: #f2f2f2;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

a {
  color: currentColor;
  text-decoration: none;
  transition: .3s;
}

a:hover, a:focus {
  color: #66327C;
  transition: .3s;
}

ul, li {
  list-style: none;
}

img {
  width: 100%;
  vertical-align: bottom;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.ly_header {
  width: 100%;
  height: 80px;
  background-color: #fff;
}

@media screen and (max-width: 414px) {
  .ly_header {
    height: 60px;
  }
}

.ly_header_inner {
  width: 1000px;
  height: inherit;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 414px) {
  .ly_header_inner {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .ly_header_inner {
    width: 100%;
  }
}

.bl_headerUnit {
  display: flex;
  align-items: center;
}

.bl_header_logo {
  width: 322px;
}

@media screen and (max-width: 414px) {
  .bl_header_logo {
    width: 240px;
  }
}

.bl_header_spNav {
  display: none;
  z-index: 3;
}

@media screen and (max-width: 414px) {
  .bl_header_spNav {
    display: block;
    width: 30px;
    height: 24px;
    position: relative;
    margin-left: auto;
  }
}

@media screen and (max-width: 414px) {
  .bl_header_spNav span {
    transition: all .5s;
    width: 30px;
    height: 2px;
    background: #333;
    display: block;
    position: absolute;
  }
  .bl_header_spNav span:first-child {
    top: 0;
  }
  .bl_header_spNav span:nth-of-type(2) {
    top: 11px;
  }
  .bl_header_spNav span:nth-of-type(3) {
    bottom: 0;
  }
}

.bl_header_spNav.is_active span:first-child {
  transform: translateY(10px) rotate(45deg);
}

.bl_header_spNav.is_active span:nth-of-type(2) {
  opacity: 0;
}

.bl_header_spNav.is_active span:nth-of-type(3) {
  transform: translateY(-12px) rotate(135deg);
}

.bl_headerNavUnit {
  margin-left: auto;
}

@media screen and (max-width: 414px) {
  .bl_headerNavUnit {
    margin-left: 0;
  }
}

.bl_headerNav {
  display: flex;
  z-index: 2;
  transition: all .5s;
}

.bl_headerNav_item {
  font-size: 22px;
  margin-left: 40px;
}

@media screen and (max-width: 414px) {
  .bl_headerNav_item {
    margin-left: 0;
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 768px) {
  .bl_headerNav_item {
    font-size: 18px;
    margin-left: 25px;
  }
  .bl_headerNav_item:first-of-type {
    margin-left: 0;
  }
}

@media screen and (max-width: 414px) {
  .bl_headerNav {
    flex-direction: column;
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100vw;
    background: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding-top: 100px;
  }
  .bl_headerNav.is_active {
    transform: translateX(-100%);
  }
}

.hero {
  background-image: url("../img/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%;
}

@media screen and (max-width: 414px) {
  .hero {
    height: 300px;
  }
}

.hp_bgWhite {
  background-color: #fff;
}

.ly_cont {
  margin-top: 40px;
}

.ly_cont:last-child {
  margin-bottom: 40px;
}

.ly_container {
  width: 1000px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 768px) {
  .ly_container {
    width: 100%;
  }
}

.ly_item {
  border-radius: 4px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.bl_commitmentUnit {
  display: flex;
}

@media screen and (max-width: 414px) {
  .bl_commitmentUnit {
    flex-direction: column;
  }
}

.bl_commitTxt {
  flex: 1;
}

.bl_commitTxtHeader {
  font-size: 26px;
  margin-bottom: 20px;
}

.bl_commitImg {
  flex: 0 1 48.33333%;
  margin-right: 3.33333%;
}

@media screen and (max-width: 414px) {
  .bl_commitImg {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

.el_ttl02 {
  font-size: 26px;
  color: #66327C;
  /*文字色*/
  padding: .5em 0;
  /*上下の余白*/
  border-top: solid 3px #66327C;
  /*上線*/
  border-bottom: solid 3px #66327C;
  /*下線*/
  margin-bottom: 30px;
  display: inline-block;
}

.bl_menuUnit {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 414px) {
  .bl_menuUnit {
    flex-direction: column;
  }
}

.bl_menu {
  width: 30%;
}

@media screen and (max-width: 414px) {
  .bl_menu {
    width: 100%;
    margin-bottom: 40px;
  }
  .bl_menu:last-child {
    margin-bottom: 0;
  }
}

.bl_menu_imgWrapper {
  border-radius: 50%;
  width: 168px;
  height: 168px;
  overflow: hidden;
  margin-bottom: 32px;
}

.bl_menu_ttl {
  font-size: 22px;
  margin-bottom: 16px;
}

.bl_menu_txt {
  margin-bottom: 16px;
}

.bl_form_item {
  margin-bottom: 24px;
}

.bl_form_item:nth-of-type(4) {
  margin-bottom: 40px;
}

.bl_form_label {
  display: block;
  margin-bottom: 8px;
}

.bl_form_input {
  display: block;
  width: 40%;
  padding: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  outline: none;
}

.bl_form_input:focus {
  border: 2px solid #8A3061;
}

@media screen and (max-width: 414px) {
  .bl_form_input {
    width: 100%;
  }
}

.bl_form_select {
  display: block;
  width: 30%;
  padding: 10px;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  outline: none;
  position: relative;
  background-color: #fff;
}

.bl_form_select:focus {
  border: 2px solid #8A3061;
}

@media screen and (max-width: 414px) {
  .bl_form_select {
    width: 100%;
  }
}

.el_submitBtn {
  background-color: #8A3061;
  padding: 10px 20px;
  color: #fff;
  border: none;
}

.el_submitBtn:hover {
  cursor: pointer;
}

@media screen and (max-width: 414px) {
  .el_submitBtn {
    width: 100%;
    padding: 15px 20px;
  }
}

.bl_addressUnit {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 414px) {
  .bl_addressUnit {
    flex-direction: column;
  }
}

.bl_address dl {
  margin-bottom: 16px;
}

.bl_address dt, .bl_address dd {
  display: inline-block;
}

.bl_map {
  width: 70%;
}

@media screen and (max-width: 414px) {
  .bl_map {
    width: 100%;
  }
}

.footer {
  height: 60px;
  background: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
