@charset "UTF-8";
// ==============================
// BASE
// ==============================
html, body {
  line-height: 1.6;
  width: 100%;
  color: #332619;
  font-family: "Helvetica Neue",
    Arial,
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    Meiryo,
    sans-serif;
}
a {
  color: currentColor;
  text-decoration: none;
  transition: .3s;
  &:hover, &:focus {
    color: #FF9800;
    transition: .3s;
  }
}

img {
  width: 100%;
  vertical-align: bottom;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
	margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

$breakpoints: (
  'sm': 'screen and (max-width: 414px)',
  'md': 'screen and (max-width: 768px)',
  'lg': 'screen and (max-width: 1000px)',
  'xl': 'screen and (max-width: 1200px)',
) !default;

// ==============================
// mixin
// ==============================

@mixin mq($breakpoint: sm) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

// ==============================
// 変数
// ==============================
$text-color: #332619;
$main-color: #EEE3D2;
$primary-color: #FF9800;
$secondary-color: #FF5722;


// ==============================
// header
// ==============================
.header {
  position: relative;
  padding: 16px;
  z-index: 2;
  display: flex;
  align-items: center;
  width: 980px;
  margin: 0 auto;
  @include mq() {
    width: 100%;
  }
  @include mq(md) {
    width: 100%;
    padding: 16px;
  }
}

.header__logo {
  font-family: 'Abril Fatface', cursive;
  color: #ffffff;
  font-size: 2rem;
}

nav {
  margin-left: auto;
}

.header__menu {
  display: flex;
  column-gap: 32px;
  font-size: 1.4rem;
  @include mq() {
    transform: translateX(-100%);
    font-size: 1.6rem;
    height: 100vh;
    width: 100vw;
    position: fixed;
    display: flex;
    row-gap: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    background-color: $main-color;
    color: $text-color;
    transition: all .3s;
    &.active {
      transform: translateX(0);
    }
  }
}

.spMenu {
  display: none;
  background-color: $primary-color;
  width: 64px;
  height: 64px;
  @include mq() {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    right: 0;
    &.active {
      position: fixed;
    }
  }
}

.spMenu__inner {
  width: 32px;
  height: 24px;
  position: relative;
  & span {
    position: absolute;
    width: inherit;
    border: 1px solid #111827;
    display: block;
    transition: all .3s;
    &:first-of-type {
      top: 0;
    }
    &:nth-of-type(2) {
      top: 11px;
    }
    &:last-of-type {
      bottom: 0;
    }
  }
}

.spMenu__inner.active span {
  &:first-of-type {
    transform: translateY(10px) rotate(45deg);
  }
  &:nth-of-type(2) {
    opacity: 0;
  }
  &:last-of-type {
    transform: translateY(-12px) rotate(135deg);
  }

}

// ==============================
// hero
// ==============================
.mv {
  background: url('../img/hero_pc.jpg') no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  @include mq() {
  background: url('../img/hero_sp.jpeg') no-repeat center;
  width: 100%;
  height: 600px;
}
}

// ==============================
// container
// ==============================
.container {
  width: 980px;
  margin: 0 auto;
  @include mq(md) {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
  @include mq() {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
}

// ==============================
// heading
// ==============================
.heading {
  text-align: center;
  font-size: 2rem;
}

.mainTitle {
  color: $text-color;
  position: relative;
  display: inline-block;
  font-family: 'Abril Fatface', cursive;
  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    border: 1px solid $primary-color;
  }
}

.subTitle {
  font-size: 1.2rem;
  display: block;
  padding-top: 8px;
}

// ==============================
// news
// ==============================
.news {
  padding: 40px 0;
  background-color: $main-color;
  @include mq() {
    padding: 16px 0 24px;
  }
}

.newsSec {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  width: 400px;
  margin: 32px auto 0;
  @include mq(){
    width: 100%;
  }
}

.newsItem {
  border-bottom: 1px solid #BDBDBD;
}

.newsItem__inner {
  display: flex;
}

.newsItem__date {
  margin-right: 32px;
}

// ==============================
// concept
// ==============================
.concept {
  padding: 40px 0;
  @include mq(){
    padding: 16px 0 24px;
  }
}

.concept__inner {
  margin: 80px auto 0;
  position: relative;
  width: 800px;
  @include mq(md) {
    width: 600px;
    margin: 80px auto 0;
  }
  @include mq(){
    margin-top: 40px;
    width: 100%;
    padding-right: 16px;
    padding-left: 16px;
  }
}

.concept__img {
  width: 70%;
  @include mq() {
    width: 65%;
  }
}

.concept__textBg {
  position: absolute;
  background-color: $main-color;
  color: $text-color;
  top: -10%;
  left: 40%;
  padding: 32px;
  font-size: 1.4rem;
  width: 470px;
  box-shadow:  0 3px 8px rgba(0, 0, 0, .2);
  @include mq(md) {
    font-size: 1.2rem;
    width: 360px;
    top: -15%;
    left: 45%;
  }
  @include mq(){
    width: 50%;
    display: flex;
    align-items: center;
    font-size: .8rem;
    padding: 16px;
  }
}

.concept__txt {
  vertical-align: middle;
}


// ==============================
// menu
// ==============================
.menu {
  padding: 40px 0;
  background-color: $main-color;
  @include mq() {
    padding: 16px 0 24px;
  }
}

.menu__inner {
  display: flex;
  flex-wrap: wrap;
  margin-top: 24px;
  justify-content: space-between;
  row-gap: 32px;
}

.menu__img {
  & img {
    width: 160px;
    height: 160px;
    object-fit: cover;
  }
}

.menu__name {
  font-size: .8rem;
  margin-top: 8px;
}

.menu__price {
  text-align: right;
  font-size: 0.8rem;
}

// ==============================
// infoAccess
// ==============================
.infoAccess {
  padding: 40px 0;
  @include mq(){
    padding: 16px 0 24px;
  }
}

.infoAccess__inner {
  display: flex;
  margin-top: 32px;
  @include mq() {
    margin-top: 24px;
    flex-direction: column;
  }
}

.infoTable {
  height: 50%;
  @include mq() {
    height: 100%;
  }
  td {
    padding: 8px;
  }
}

.google-map {
  width: 60%;
  margin-left: auto;
  height: 300px;
  @include mq(){
  width: 100%;
  overflow: hidden;
  margin-top: 24px;
  height: 200px;
}
& iframe {
  width: 100%;
  height: 100%;
}
}

// ==============================
// footer
// ==============================
.footer {
  background-color: $main-color;
  text-align: center;
  padding: 16px 0;
}

.footer_sns {
  display: flex;
  column-gap: 32px;
  justify-content: center;
}

.footer_sns i {
  font-size: 1.6rem;
  cursor: pointer;
}

.footer_copyright {
  margin-top: 24px;
  display: inline-block;
}

// ==============================
// animation
// ==============================
.animation {
  opacity: 0;
  visibility: hidden;
  transition: 1s;
  transform: translateY(30px);
}

.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}